body {
    background-color: #2AA9D2;
    margin-top: 35px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    /* font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif; */
    /*font-family: Georgia, serif; */
}

#logo {
  position: absolute;
  border-radius: 10%;
  border: 1px solid black;
}

#title {
  text-align: center;
}

#main {
  /* background-color: teal; */
  background: powderblue;
  /* background-color: #6F2232; */
  width: 70%;
  margin: auto;
  padding-bottom: 25px;
  box-shadow: 0px 0px 25px black;
  border-radius: 10px 10px 10px 10px;
}

#googleMaps {
  border: 2px solid black;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

#questionTitle {
  margin-left: 10px;
  padding-top: 2px;
}

#question {
  border: 2px solid black;
  height: 125px;
  background-color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px 5px;
}

#answerTitle {
  margin-left: 10px;
  padding-top: 2px;
}

#answer {
  border: 2px solid black;
  height: 123px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

#incorrectMessage {
  position: absolute;
  margin-top: -30px;
  margin-left: 350px;
  color: red;
  text-align: center;
}

#correctMessage {
  position: absolute;
  margin-top: -30px;
  margin-left: 350px;
  color: green;
  text-align: center;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 500px;
}


#submitButton {
  display: flex;
  justify-content: center;
  padding: 15px 32px;
}

#nextButton {
  visibility: hidden;
  display: flex;
  justify-content: center;
  padding: 15px 32px;
}

#incorrectMessage{
  visibility: hidden;
}

#correctMessage{
  visibility: hidden;
}

#firstHint{
  visibility: hidden;
  text-align: center;
}

#firstHintButton{
  visibility: hidden;
  display: flex;
  justify-content: center;
  padding: 15px 17px;
}

#secondHint{
  visibility: hidden;
  text-align: center;
}

#secondHintButton{
  visibility: hidden;
  display: flex;
  justify-content: center;
  padding: 15px 17px;
}
