body {
    background: powderblue;
    margin-left: 40px;
    margin-right: 40px;
}

#title {
  text-align: center;
}

#main {
  background-color: teal;
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 20px black;
}

#googleMaps {
  border: 2px solid black;
  height: 300px;
}

#questionTitle {

}

#question {
  border: 2px solid black;
  height: 125px;
  background-color: white;
  text-align: center;
}

#answerTitle {

}

#answer {
  border: 2px solid black;
  height: 123px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#submitButton {
  display: flex;
  justify-content: center;
  padding: 15px 32px;
}

#nextButton {
  display: flex;
  justify-content: center;
  padding: 15px 32px;
}
