<!DOCTYPE html>

<div id="main">
  <head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>

  <body>

<!-- Navigation bar -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contributors">Contributors</a></li>
      <li><a href="/">NESW Puzzles</a></li>
    </ul>

    <div id="title">
      <h1>About NESW Puzzles</h1>
    </div>
    <div id="about">
      <p>Welcome to NESW Puzzles! We created a bunch of puzzles inspired by
      scavenger hunts, escape rooms, and brain teasers!</p><br>
      <p>The clues are hidden within various locations across the world, so we
      have provided a built-in Google Maps to help you search for them. Also
      remember that the Internet is your friend!</p><br>
      <p>To start, sign in using the link at the top-right corner, or enter your
      name in the box in the top-right corner if you are already signed in. </p><br>
    </div>
  </body>

</div>


<script src="javascript/home.js"></script>
