<!DOCTYPE html>

<div id="main">
  <head>
    <title>Contributors</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>

  <body>

<!-- Navigation bar -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contributors">Contributors</a></li>
      <li><a href="/">NESW Puzzles</a></li>
    </ul>

    <div id="title">
      <h1>Contibutors</h1>
    </div>

  </body>
    <img src="images/Tortoise.jpg" width=300></img>
    <img src="images/FlyingSquirrel.jpg" width=300></img>
    <img src="images/Platypus.jpg" width=300></img>




</div>


<script src="javascript/home.js"></script>
