<!DOCTYPE html>
<html>
<div id="main">
  <head>
    <title>NESW Puzzles (working title)</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>

  <body>



<!-- Navigation bar -->
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contributors">Contributors</a></li>
      <li>{% if current_user %}
            <a href={{logout_url}}>Log Out</a>
          {% else %}
            <a href={{login_url}}>Log In</a>
          {%endif%}
          {% if current_user and not current_person %}
          <br>
          <form action="/create" method="POST">
            Your Name: <input name ="name"><br>
            <button>Sign Up</button>
          </form>
          <br><br>
          {% endif %}
      </li>
    </ul>


    <div id="title">
      <h1>NESW Puzzles</h1>
    </div>
      <p>Welcome to [insert a name for this thing later]!</p>

  </body>

</div>
</html>
