<!DOCTYPE html>

<div id="main">
  <head>
    <title>NESW Puzzles</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>

  <body>

<!-- Navigation bar -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contributors">Contributors</a></li>
      <li>{% if current_user %}
            <a href={{logout_url}}>Log Out</a>
          {% else %}
            <a href={{login_url}}>Log In</a>
          {%endif%}
          {% if current_user and not current_person %}
          <br>
          <form action="/create" method="POST">
            Your Name: <input name ="name"><br>
            <button>Sign Up</button>
          </form>
          <br><br>
          {% endif %}
      </li>
    </ul>

    <!-- <div id="title">
      <h1>NESW Puzzles</h1>
    </div> -->

    <img id="logo" src="images/logo.jpg"></img>


    <br><br>

  <!-- Sequence options -->
  <!-- href="/level?key=aghkZXZ-Tm9uZXIVCxIIUXVlc3Rpb24YgICAgIDglwoM" -->
    <span id="sequence1" class="sequence">
      <h2>Sequence <br> 1</h2>
    </span>
    <span id="sequence2" class="sequence">
      <h2>Sequence <br> 2</h2>
    </span>
    <span id="sequence3" class="sequence">
      <h2>Sequence <br> 3</h2>
    </span>

  </body>

</div>


<script src="javascript/home.js"></script>
