<!DOCTYPE html>
<title>Level</title>
<link rel="stylesheet" href="stylesheets/levelStyle.css">


<a href="/" style="text-decoration:none">
  <h3 style="margin-left: 34px; margin-bottom: -15px">Home</h3>
  <br>
  <img id="logo" src="images/logo.jpg" width=120></img>
</a>

<div id="title">
  <h1>Category {{sequence_key}}: Level {{question.level_number}}</h1>
</div>

<div id="main">
  <div id="questionTitle">
    <h2>Question:</h2>
  </div>

  <div id="question">
    <p> {{question.question}} </p>
  </div>

  <br>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="googleMaps">
  </div>
  <script src="javascript/map.js"></script>
  <!-- this is a demo key and won't work but i'm just using it for commits-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&libraries=places&callback=initAutocomplete" async defer></script>
  <!--this is the real API key-->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZSTilzBnsn8bkiup_XCNCwFzyUmoO5IU&libraries=places&callback=initAutocomplete" async defer></script> -->
  <br>
  <div id="firstHint">
    <p>{{question.hint}}</p>
  </div>
  <div id="secondHint">
    <p>{{question.second_hint}}</p>
  </div>
  <div id="answerTitle">
    <h2>Solution:</h2>
  </div>
  <h3 id="incorrectMessage">Your answer is incorrect</h3>
  <h3 id="correctMessage">Your answer was correct!</h3>
  <div id="answer" >
    <textarea rows="9" placeholder="Answer"></textarea>
  </div>

    <div id="submitButton">
      <button>Submit</button>
    </div>
    <div id="firstHintButton">
      <button>Hint</button>
    </div>
    <div id="secondHintButton">
      <button>Another Hint</button>
    </div>
  <meta id="answer_correct" name= "answer_correct" content="false">
  <div id="nextButton">
    <button>Next Question</button>
  </div>
</div>
<script>
  let submitBtn = document.getElementById('submitButton');
  let user_answer = document.querySelector('#answer textarea');
  let user_correct = document.getElementById('answer_correct');
  let incorrectMsg = document.getElementById('incorrectMessage');
  let correctMsg = document.getElementById('correctMessage');
  let nextBtn = document.getElementById('nextButton');

  let firstHintBtn = document.getElementById('firstHintButton');
  let secondHintBtn = document.getElementById('secondHintButton');

  let firstHt = document.getElementById('firstHint');
  let secondHt = document.getElementById('secondHint');

  submitBtn.addEventListener('click', e =>{
    if(user_answer.value == "{{question.answer}}"){
      incorrectMsg.style.visibility = "hidden";
      secondHintBtn.style.visibility = "hidden";
      firstHintBtn.style.visibility = "hidden";
      submitBtn.style.visibility= "hidden";
      nextBtn.style.visibility="visible";
      correctMsg.style.visibility="visible";
      user_correct.content="true";
      answer.style.borderColor = "green";
    }
    else {
      incorrectMsg.style.visibility="visible";
      answer.style.borderColor = "red";
      if(firstHintBtn.style.visibility=="visible"){
        secondHintBtn.style.visibility = "visible";
      } else {
        firstHintBtn.style.visibility = "visible";
      }
    }
  });
  nextBtn.addEventListener('click', e =>{
    if(user_correct.content && "{{next_question_key}}"!="null"){
      window.location.href = "/level?sequence={{sequence_key}}&key={{next_question_key}}&answer_correct=True";
    } else if(user_correct.content && "{{next_question_key}}"=="null"){
      window.location.href = "/end_game?sequence={{sequence_key}}";
    }
    //next_level.key should be passed in as a template variable in the main.py
    //check if user_correct.content is true, if so redirect to next level
  });

  firstHintBtn.addEventListener('click', e =>{
    firstHt.style.visibility = "visible";
  });

  secondHintBtn.addEventListener('click', e =>{
    secondHt.style.visibility = "visible";
  });
  // query selector on submit button.
  // when answers are correct, toggle the appearance of the nextButton id, and submit id disappears.
  // if answers are wrong, display a message, but make it disappear when answers are correct.
</script>

<script src="javascript/level.js"></script>
