<!DOCTYPE html>
<title>Level</title>
<link rel="stylesheet" href="stylesheets/levelStyle.css">
<div id="title">
  <h1>Sequence 1: Level 1</h1>
</div>

<div id="main">
  <div id="questionTitle">
    <h2>Question:</h2>
  </div>

  <div id="question">
    <p> {{question.question}} </p>
  </div>

  <br>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="googleMaps">
  </div>
  <script>
  // This example adds a search box to a map, using the Google Place Autocomplete
  // feature. People can enter geographical searches. The search box will return a
  // pick list containing a mix of places and predicted search terms.

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initAutocomplete() {
      var map = new google.maps.Map(document.getElementById('googleMaps'), {
        center: {lat: 0, lng: 0},
        zoom: 1,
        mapTypeId: 'roadmap'
      });

      // Create the search box and link it to the UI element.
      var input = document.getElementById('pac-input');
      var searchBox = new google.maps.places.SearchBox(input);
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      // Bias the SearchBox results towards current map's viewport.
      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

      var markers = [];
      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }

        // Clear out the old markers.
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }
          var icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          };

          // Create a marker for each place.
          markers.push(new google.maps.Marker({
            map: map,
            icon: icon,
            title: place.name,
            position: place.geometry.location
          }));

          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map.fitBounds(bounds);
      });
    }

  </script>
  <!-- this is a demo key and won't work but i'm just using it for commits-->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&libraries=places&callback=initAutocomplete" async defer></script> -->
  <!--this is the real API key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZSTilzBnsn8bkiup_XCNCwFzyUmoO5IU&libraries=places&callback=initAutocomplete" async defer></script>
  <br>

  <div id="answerTitle">
    <h2>Solution:</h2>
  </div>
    <div id="answer" >
      <textarea rows="9" >Answer</textarea>
    </div>

    <div id="submitButton">
      <button>Submit</button>
    </div>

  <!-- MERGE the two messages later :)-->
  <p id="incorrectMessage">Your answer was incorrect.</p>
  <p id="correctMessage">Your answer was correct!</p>
  <!--Insert following key in the level-->
  <div id="nextButton" method="GET" action="/level">
    <button>Next Question</button>
  </div>
</div>
<script>
  let submitBtn = document.getElementById('submitButton');
  let user_answer = document.querySelector('#answer textarea');
  let incorrectMsg = document.getElementById('incorrectMessage');
  let correctMsg = document.getElementById('correctMessage');
  let nextBtn = document.getElementById('nextButton');
  //OK it's not really jinja but I would like to know how to incorporate
  // a data value from the ndb into javascript.
  submitBtn.addEventListener('click', e =>{
    if(user_answer.value == "{{question.answer}}"){
      incorrectMsg.style.visibility = "hidden";
      submitBtn.style.visibility= "hidden";
      nextBtn.style.visibility="visible";
      correctMsg.style.visibility="visible";
    }
    else {
      incorrectMsg.style.visibility="visible";
    }
  });
  // query selector on submit button.
  // when answers are correct, toggle the appearance of the nextButton id, and submit id disappears.
  // if answers are wrong, display a message, but make it disappear when answers are correct.
</script>
