<!DOCTYPE html>
<title>Level</title>
<link rel="stylesheet" href="stylesheets/levelStyle.css">

<div id="title">
  <h1>Sequence 1: Level 1</h1>
</div>

<div id="main">
  <div id="questionTitle">
    <h2>Question:</h2>
  </div>

  <div id="question">
    <p>Question: {{Question.question}} </p>
  </div>

  <br>

  <div id="googleMaps">
    <p>Maps go here</p>
  </div>

  <br>

  <div id="answerTitle">
    <h2>Solution:</h2>
  </div>

  <div id="answer">
    <textarea rows="9">Answer</textarea>
  </div>

  <div id="submitButton">
    <button>Submit</button>
  </div>

  <div id="nextButton">
    <button>Next Question</button>
  </div>
</div>
